<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702509043538-k6ln9v0vj63kk87adqes01m33qrn0jsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702509043538-k6ln9v0vj63kk87adqes01m33qrn0jsa</string>
	<key>API_KEY</key>
	<string>AIzaSyAuHrmzVswZY2hPPtJdQIFWA0xo1323fho</string>
	<key>GCM_SENDER_ID</key>
	<string>702509043538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsamy.react</string>
	<key>PROJECT_ID</key>
	<string>testreact-a66a3</string>
	<key>STORAGE_BUCKET</key>
	<string>testreact-a66a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702509043538:ios:958b6f3d7d31384e01348b</string>
</dict>
</plist>